<div class="jumbotron mt-4">
    <h1 class="display-4">realizar en index</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4"> 
    <p>enim nisi ipsam eius labore ipsum eaque assumenda placeat! Delectus maiores ut laboriosam fuga aut voluptate distinctio rem! Illum, nesciunt quaerat.</p>
    <a href="" class="btn btn-primary btn-lg">Enviar</a>

</div>